# Hardhat
/cache/
/artifacts/
/typechain/
/typechain-types/

# Dependencies
node_modules/

# Environment variables
.env
.env.local

# Private keys
*.key
*.pem

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db